In [28]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [29]:
ds=pd.read_csv(r"C:\Users\arunf\OneDrive\Documents\Data Science\Machine Learning\DataSet\kc_house_data.csv")

In [30]:
ds

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [31]:
ds=ds.drop('id',axis=1)
ds=ds.drop('date',axis=1)

In [32]:
ds

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [33]:
train,test=train_test_split(ds,test_size=0.2)

In [39]:
trainx=train.iloc[:,1:]
trainy=train.iloc[:,0]
testx=test.iloc[:,1:]
testy=test.iloc[:,0]

In [40]:
trainx

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
2060,3,2.00,1540,6250,1.0,0,0,3,7,1540,0,1998,0,98038,47.3539,-122.025,2070,6250
18977,4,2.25,3220,7889,2.0,0,0,3,8,3220,0,1978,0,98023,47.3112,-122.339,2120,7651
21358,4,3.00,2590,6160,2.0,0,0,3,8,2590,0,2014,0,98059,47.4784,-122.122,2670,5600
2150,3,1.75,1850,7735,1.0,0,0,4,8,1850,0,1983,0,98027,47.5608,-122.082,2220,7639
20868,2,2.50,1741,1439,2.0,0,0,3,8,1446,295,2007,0,98034,47.7043,-122.209,2090,10454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14593,3,1.75,1840,5664,2.0,0,0,3,7,1270,570,1948,0,98115,47.6899,-122.283,1480,5664
19426,3,1.75,1590,9620,1.0,0,0,3,7,1590,0,1988,0,98059,47.4815,-122.152,2980,9398
7623,3,1.75,1300,7735,1.0,0,0,4,7,1300,0,1980,0,98022,47.1983,-122.000,1300,8941
6658,5,2.50,3440,12900,1.0,0,2,4,8,1720,1720,1958,0,98166,47.4426,-122.342,2100,10751
2198,3,2.25,1880,12473,1.0,0,0,3,8,1420,460,1958,0,98028,47.7623,-122.256,2300,10469

In [41]:
trainy

2060     272500.0
18977    335000.0
21358    519995.0
2150     585000.0
20868    479000.0
           ...
14593    625000.0
19426    349000.0
7623     224500.0
6658     554000.0
2198     399000.0
Name: price, Length: 17290, dtype: float64

In [42]:
lr=LinearRegression()

In [43]:
pred=lr.fit(trainx,trainy).predict(testx)

In [44]:
score=r2_score(pred,testy)

In [45]:
print(score)

0.6019688013543085