In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn import preprocessing

In [2]:
ds=pd.read_csv(r"C:\Users\arunf\OneDrive\Documents\Data Science\Machine Learning\DataSet\combines (1).csv")

In [3]:
ds

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,A1,2017,12500,Manual,15735,Petrol,150.0,55.4,1.4,audi
1,A6,2016,16500,Automatic,36203,Diesel,20.0,64.2,2.0,audi
2,A1,2016,11000,Manual,29946,Petrol,30.0,55.4,1.4,audi
3,A4,2017,16800,Automatic,25952,Diesel,145.0,67.3,2.0,audi
4,A3,2019,17300,Manual,1998,Petrol,145.0,49.6,1.0,audi
...,...,...,...,...,...,...,...,...,...,...
99182,Eos,2012,5990,Manual,74000,Diesel,125.0,58.9,2.0,vw
99183,Fox,2008,1799,Manual,88102,Petrol,145.0,46.3,1.2,vw
99184,Fox,2009,1590,Manual,70000,Petrol,200.0,42.0,1.4,vw
99185,Fox,2006,1250,Manual,82704,Petrol,150.0,46.3,1.2,vw
99186,Fox,2007,2295,Manual,74000,Petrol,145.0,46.3,1.2,vw

In [4]:
le=preprocessing.LabelEncoder()

In [5]:
ds['model']=le.fit_transform(ds['model'].astype(str))
ds['transmission']=le.fit_transform(ds['transmission'].astype(str))
ds['fuelType']=le.fit_transform(ds['fuelType'].astype(str))
ds['brand']=le.fit_transform(ds['brand'].astype(str))

In [6]:
ds

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,9,2017,12500,1,15735,4,150.0,55.4,1.4,0
1,14,2016,16500,0,36203,0,20.0,64.2,2.0,0
2,9,2016,11000,1,29946,4,30.0,55.4,1.4,0
3,12,2017,16800,0,25952,0,145.0,67.3,2.0,0
4,11,2019,17300,1,1998,4,145.0,49.6,1.0,0
...,...,...,...,...,...,...,...,...,...,...
99182,57,2012,5990,1,74000,0,125.0,58.9,2.0,8
99183,62,2008,1799,1,88102,4,145.0,46.3,1.2,8
99184,62,2009,1590,1,70000,4,200.0,42.0,1.4,8
99185,62,2006,1250,1,82704,4,150.0,46.3,1.2,8
99186,62,2007,2295,1,74000,4,145.0,46.3,1.2,8

In [7]:
ds.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
brand           0
dtype: int64

In [8]:
train,test=train_test_split(ds,test_size=0.2)

In [9]:
trainx=train.iloc[:,[0,1,3,4,5,6,7,8,9]]
trainy=train.iloc[:,2]
testx=test.iloc[:,[0,1,3,4,5,6,7,8,9]]
testy=test.iloc[:,2]

In [10]:
trainx

,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,brand
95845,157,2019,1,7000,0,145.0,47.9,2.0,8
84626,153,2019,1,7000,0,145.0,50.4,1.6,8
16070,0,2019,3,6581,0,145.0,67.3,2.0,1
64321,125,2016,0,27816,2,20.0,57.6,2.5,6
2656,11,2017,3,21601,4,30.0,56.5,1.4,0
...,...,...,...,...,...,...,...,...,...
64528,182,2017,1,10360,4,30.0,55.0,1.3,6
18588,0,2016,1,36669,0,0.0,83.1,1.5,1
24220,61,2018,1,15535,0,145.0,80.7,1.5,2
12699,4,2019,3,8257,4,150.0,50.4,2.0,1
28437,30,2018,1,7834,0,145.0,74.3,1.5,2

In [11]:
trainy

95845    25000
84626    17995
16070    25950
64321    20595
2656     16950
         ...
64528    10495
18588    10648
24220    14581
12699    26380
28437    11300
Name: price, Length: 79349, dtype: int64

In [12]:
lr=LinearRegression()

In [13]:
pred=lr.fit(trainx,trainy).predict(testx)

In [14]:
pred

array([20631.69681885, 13543.12055908, 19194.29090496, ...,
       17872.55130003, 23873.62554605, 21094.83742401])

In [15]:
score=r2_score(pred,testy)

In [16]:
print(score)

0.6129940335454829